.toolbar-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid var(--second-grey-color);
	border-radius: 30px;
	padding: 10px 20px;
}

.search-container {
	display: flex;
	align-items: center;
}

.choose-size-container {
	display: flex;
	align-items: center;
}

.view-list {
	display: block;
}

.view-module {
	display: none;
}
